.body__background {
  background: top/cover no-repeat url("../images/descktop-background.png");
  height: 100%;
  


  @media (max-width: $tablet) {
  }

  @media (max-width: $descktop) {
  }

  @media (max-width: $descktop-big) {
    background: top/cover no-repeat  url("../images/tablet-background.png");
  }
}

.body__wrapper {
  height: 100%;
}