.body__background {
  background: top/cover no-repeat url("../images/descktop-background.png");
  height: 100%;
  


  @media (max-width: 768px) {
  }

  @media (max-width: 1280px) {
  }

  @media (max-width: 1523px) {
    background: top/cover no-repeat  url("../images/tablet-background.png");
  }
}

.body__wrapper {
  
}
