.main {
  max-height: 100%;
}

.main__wrapper {
  @include wrapper;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-top: 50px;
  }
}

.main__button {
}

.main__title {
  font-family: "Roboto-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  background-color: #2aa5a0;
  background-image: linear-gradient(90deg, #fafafa, #ff5e00, #ff1100);
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $tablet) {
    margin-bottom: 4vh;
    font-size: 10vw;
  }
}

.main__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, auto));
  gap: 20px;

  color: #ffffff;
  list-style: none;

  align-self: center;

  @media (max-width: $tablet) {
  }

  @media (max-width: $descktop) {
  }
}

.main__item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 4vw;
  height: max-content;
  opacity: 0.8;
  transition: 0.5s;
  border-radius: 10px;

  &--current {
    opacity: 1;
    transition: 0.5s ease;
    scale: 1.1;
  }
}

.main__item-content {
  font-family: "Roboto-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 4em;
  position: relative;
  z-index: -1;
}

.main__button {
  align-self: flex-end;
  @media (max-width: $tablet) {
    display: block;
    position: absolute;
    bottom: 20px;
    height: 40px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-size: 100%;
    width: 200px;
    padding: 5px 5px;
    order: 3;
    align-self: center;
    border: none;
    color: #ffffff;
    background: url(../images/corner-top-right-border.png) top -18px right -11px/46px
        no-repeat,
      url(../images/corner-button-left-border.png) bottom -18px left -11px/46px
        no-repeat,
      url(../images/border-buttompng.png) center no-repeat;
    background-clip: border-box;
   

  }
  // &:hover {
  //   opacity: 0.8;
   
    &::before {
      display: flex;
      flex-direction: column;
      flex:1;
      position: absolute;
      z-index: 1;
      top: -150px;
      max-height: 100px;
      left: 50%;
      content: "";
      width: 5px;
      background-image: linear-gradient(180deg, #000000, #00000086, #fdf5f400);
      height: 10vh;
      
      transition: 5s;
    // }
  }
}
